extends ../layout

block content
    div(class="large-12 columns")
        h3 Add Group

    div(class="large-6 columns")
        if error
            p(class="error")= error
        form(class="create-user-form", action="/admin/add/group/", method="post")
            label(for="building") Group Name
            input(type="text", name="name")
            input(type="submit", value="Add Group", class="button small radius")
    div(class="large-6 columns")
                