extends layout
    div(class="large-2 columns sidebar-menu")
        ul
            li
                a(href="/admin/buildings") Admin Dashboard
            li
                a(href="/admin/buildings", class="active") Edit Admin
            li
                a(href="/admin/buildings") Manage Buildings
            li
                a(href="/admin/buildings") Manage Groups
            li
                a(href="/admin/buildings") Manage Positions
    div(class="large-10 columns")

