extends ../layout

block stylesheets
    link(rel="stylesheet" href="/assets/js/datatables/datatables.css")
    link(rel="stylesheet" href="/assets/js/select2/select2-bootstrap.css")
    link(rel="stylesheet" href="/assets/js/select2/select2.css")

block content
    ol(class="breadcrumb bc-3")
        li
            a(href="/") Home
        li(class="active")
            a(href="/notifications") Notifications

    h2 Notifications
    br

    script.
        jQuery(document).ready(function() {
            var notificationTable = jQuery('#notification-table');

            notificationTable.DataTable({
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "bStateSave": true,
                "oLanguage": {
                    "sLengthMenu": "Show _MENU_",
                    "sZeroRecords": "No notifications found.",
                    "sInfo": "Showing _START_ to _END_ of _TOTAL_ total notifications.",
                    "sInfoFiltered": "",
                },
                "order": []
            });

            notificationTable.closest( '.dataTables_wrapper' ).find( 'select' ).select2( {
                minimumResultsForSearch: -1
            });

            $('.table-toggle').removeClass('hide');
        });

    div(class="hide table-toggle")
        table(class="table table-bordered datatable", id="notification-table")
            thead
                tr
                    th Subject
                    th Message
                    th Sent
            tbody
                each notification in notifications
                    tr
                        td= notification.subject
                        td= notification.message
                        td= notification.prettyTime

block scripts
    script(src="/assets/js/datatables/datatables.js")
    script(src="/assets/js/select2/select2.min.js")
