extends layout


block content
    div(class="large-2 columns sidebar-menu")
        h5 Events
        ul
            li
                a(href="#") View Calendar
            li
                a(href="#") Daily View
            li
                a(href="#", class="active") Add Event
    div(class="small-10 columns")
        div(class="row")
            div(class="large-12 columns")
                h3 Add Event
            form(class="event-creation-form")
                div(class="large-6 columns")
                    label(for="name") Name
                    input(type="text", name="name", class="event-name-input")
                div(class="large-3 columns")
                    label(for="date") Date
                    input(type="date", name="date", class="event-date-input")
                div(class="large-3 columns")
                    label(for="staff") Staff
                    input(type="text", name="staff", class="event-staff-input")
                div(class="large-12 columns")
                    label(for="description") Description
                    textarea(name="description", class="event-description-input")
                    div(class="add-instance-button radius small button add-main-instance") Add New Event Filter
                    div(class="instance-block")
                    input(type="submit", value="Add Event", class="button small radius")

block scripts
    script(src="https://cdn.tinymce.com/4/tinymce.min.js")
    script.
        $(document).ready(function() {
            new HousingManager({ page: "eventCreation" });
            tinymce.init({
                selector: 'textarea',
                elementpath: false,
                height: 200,
                menubar: false
            });
        });
