extends layout

block content
    div(class="small-12 columns")
        h3 Add Event
        form(class="event-creation-form")
            label(for="name") Name
            input(type="text", name="name", class="event-name-input")
            label(for="date") Date
            input(type="date", name="date", class="event-date-input")
            label(for="staff") Staff (solely for display purposes)
            input(type="text", name="staff", class="event-staff-input")
            label(for="description") Description
            textarea(name="description", class="event-description-input")
            div(class="add-instance-button radius small button add-main-instance") Add New Event Filter
            div(class="instance-block")
            input(type="submit", value="Add Event", class="button small radius")

block scripts
    script.
        $(document).ready(function() {
            new HousingManager({ page: "eventCreation" });
        });