extends layout

block content
	div(class="large-12 columns")
		div(id="calendar")

block scripts
	script(src="/js/moment.min.js")
	script(src="/js/fullcalendar.min.js")
	script.
		$(document).ready(function() {
			var hm = new HousingManager({ page: "#{activeLink}" });
		});