extends ../layout

block content
    div(class="large-12 columns")
        h3 Send Push Notification

    div(class="large-8 columns")
        if error
            p(class="error")= error   
        form(class="create-user-form create-push-form", action="/notifications/create", method="post")
            label(for="subject") Subject
            input(type="text", name="subject")
            label(for="message") Message
            textarea(name="message")
            div(class="checkbox-field")
                input(type="checkbox", name="toemail")
                label(for="toemail") Send as email too?
            input(type="submit", value="Send Notification", class="small radius button post-checkbox-button")
    div(class="large-4 columns")            
