extends ../layout

block stylesheets
    link(rel="stylesheet", href="/css/c3.css")

block content
    div(class="large-9 columns")
        h3 Manage Push Notifications
    div(class="large-3 columns")
        p(class="header-description") 
            a(href="/notifications/create", class="add-user") Send Push Notification 

    div(class="large-12 columns")   
        table(class="user-accounts")
            thead
                tr
                    th(class='sort-click') Subject
                    th(class='sort-click') Message
                    th(class='sort-click') Sent
            tbody
                each push in notifications
                    tr
                        td= push.subject
                        td= push.message
                        td(class="notification-time")= push.prettyTime

        div(class="page-links")
    div(class="large-12 columns")
        div(id="notification-chart")


block scripts
    script(src="http://d3js.org/d3.v3.min.js")
    script(src="/js/c3.min.js")
    script.
        $(document).ready(function() {
            var hm = new HousingManager({ page: "#{activeLink}" });
        });
        