doctype html
html(class="no-js", lang="en")
    head
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="University of Alabama Housing")
        title= title
    body
        h2= schedule.title
        div!= schedule.description
        each event in schedule.events
            p= event.title
