doctype html
html(class="no-js", lang="en")
    head
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="University of Alabama Housing")
        title= title
        link(rel="stylesheet", href="/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css")
        link(rel="stylesheet", href="/assets/css/font-icons/entypo/css/entypo.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic")
        link(rel="stylesheet", href="/assets/css/bootstrap.css")
        link(rel="stylesheet", href="/assets/css/neon-core.css")
        link(rel="stylesheet", href="/assets/css/neon-theme.css")
        link(rel="stylesheet", href="/assets/css/neon-forms.css")
        link(rel="stylesheet", href="/assets/css/custom.css")
        link(rel="stylesheet", href="/assets/css/skins/white.css")
        script(src="/assets/js/jquery-1.11.3.min.js")
    block content
    script(src="https://cdn.socket.io/socket.io-1.3.5.js")
    script(src="/assets/js/gsap/TweenMax.min.js")
    script(src="/assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js")
    script(src="/assets/js/bootstrap.js")
    script(src="/assets/js/joinable.js")
    script(src="/assets/js/resizeable.js")
    script(src="/assets/js/neon-api.js")
    script(src="/assets/js/jquery.validate.min.js")
    script(src="/assets/js/neon-login.js")
    script(src="/js/housing.js")
    block scripts
