extends layout

block content
    div(class="housing-calendar-wrapper clearfix")
    div(class="calendar-env")
        div(class="calendar-body")
            div(id="calendar")

block scripts
    script(src="/assets/js/fullcalendar/fullcalendar.min.js")
    script.
        new HousingManager({ calendar: true });

