extends layout

block stylesheets
    link(href="/assets/js/fullcalendar-2/fullcalendar.min.css", rel="stylesheet")

block content
    div(class="housing-calendar-wrapper clearfix")
    div(class="calendar-env")
        div(class="calendar-body")
            div(id="calendar")

block scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.js")
    script.
        new HousingManager({ calendar: true });



