extends ../layout

block stylesheets
    link(rel="stylesheet" href="assets/js/daterangepicker/daterangepicker-bs3.css")
    link(rel="stylesheet" href="/assets/js/wysihtml5/bootstrap-wysihtml5.css")

block content
    ol(class="breadcrumb bc-3")
        li
            a(href="/") Home
        li(class="active")
            a(href="/Schedule") Schedule Information

    h2 Schedule Information
    br
    div(class="row")
        div(class="col-md-10")
            div(class="panel panel-primary")
                div(class="panel-heading")
                    div(class="panel-title") Set Schedule Information

                div(class="panel-body")
                    div(class="row")
                        div(class="col-md-6")
                            div(class="form-group")
                                label(class="control-label") Schedule Title
                                input(type="text", class="form-control input-lg", data-validate="required", autocomplete="off")
                    div(class="row")
                        div(class="col-md-6")
                            div(class="form-group")
                                label(class="control-label") Start/End Time
                                div(class="daterange daterange-inline" data-format="MMMM D, YYYY" data-start-date="March 2, 2016" data-end-date="March 10, 2016")
                                    i(class="entypo-calendar")
                                        span!= " March 2, 2016 - March 10, 2016"
                    div(class="row")
                        div(class="col-sm-12")
                            div(class="form-group")
                                label(class="control-label") Schedule Header
                                textarea(class="form-control wysihtml5" rows="10" data-stylesheet-url="/assets/css/wysihtml5-color.css" name="description" id="description")

block scripts
    script(src="/assets/js/moment.min.js")
    script(src="/assets/js/bootstrap-datepicker.js")
    script(src="/assets/js/daterangepicker/daterangepicker.js")
    script(src="/assets/js/wysihtml5/wysihtml5-0.4.0pre.min.js")
    script(src="/assets/js/wysihtml5/bootstrap-wysihtml5.js")
